@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";




* {
    box-sizing: border-box;
    // border: 1px solid red;
}

body {
    background-color: #cc7422;
    font-family: 'Roboto', sans-serif;
}

.site-container {
    width: 100%;
    max-width: 1096px;
    margin: 0 auto;

}