.btn {
    width: 124px;
    height: 43px;
    padding: 18px 24px;
    outline: none;
    border: none;
    border-radius: 10px;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    cursor: pointer;
    color: #fcff19;
    letter-spacing: 0.06px;
    border-radius: 10px;
    background-color: #000000;
}