.f-burger-shower {
    display: none;
}





@media (max-width: 600px) {
    .footer__nav {
        // display: none;
        transform: scaleX(0);
        transition: transform .3s linear;
    }

    .f-burger-shower:checked~.footer__nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        right: 5px;
        // bottom: 0px;
        align-items: flex-end;
        background-color: transparent;
        padding: 0 18px;
        // border: 1px solid #666;
        width: auto;
        transform: scaleX(1);
    }

    .f-hamburger {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 30px;
        height: 30px;
        line-height: .1em;
        margin-right: 20px;
        padding: 0 .4em .4em;
        cursor: pointer;
        position: absolute;

        right: 1px;

    }

    .f-burger-item {
        width: 30px;
        height: 3px;
        border: 0;
        background: #000;
        /* border: none; */
    }
}